<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")  %> 
<body>
  <%- include('../partials/header') %> 

  <div class="addProduct">
    <legend>Editar Producto: <%= producto.name  %> </legend>
    <form action="/admin/productos/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="form">
        <div>
          <label for="name">Nombre del producto</label>
          <input type="text" name="name" id="name" placeholder="Ej: Pizza Muzzarella" value="<%= (locals.old && old.name) ? old.name : producto.name  %>">
          <% if (locals.errors && errors.name) { %>
            <small id="errorBackName"><%= errors.name.msg%></small>
          <% } %>
          <small id="errorName" style="color: red;"></small>
        </div>
        <div>
          <label for="price">Precio del producto</label>
          <input type="number" name="price" id="price" placeholder="Ej: 1000" value="<%= (locals.old && old.price) ? old.price : producto.price  %>">
          <% if (locals.errors && errors.price) { %>
            <small id="errorBackPrice"><%= errors.price.msg%></small>
          <% } %>
          <small id="errorPrice" style="color: red;"></small>
        </div>
        <div>
          <label for="category">Categorias</label>
          <select name="categoryId" id="id_categoria">
            <option selected hidden>Categoría</option>
            <% categorias.forEach(categoria => { %>
              <option  value="<%=categoria.id  %>"  <%= (locals.old && old.categoryId) && old.categoryId == categoria.id || categoria.id == producto.category_id ? "selected" : "" %>><%=categoria.name  %></option>
            <% }) %> 
            <!--<option value="1">Comun</option>-->
            <!--<option value="2">Vegetariana</option>-->
          </select>  
          <% if (locals.errors && errors.categoryId) { %>
            <small id="errorBackIdCategoria"><%= errors.categoryId.msg%></small>
          <% } %>             
          <small id="errorId_categoria" style="color: red;"></small>
        </div>
        <div>
          <label>Imagen Actual</label>
          <img src="/images/products/<%= image.imageName %>" alt="">
        </div>
        <div>
          <label for="inputFile">Cambiar Imagen</label>
          <input type="file" id="inputFile" name="image"/>
          <small id="errorImage" style="color: red;"></small>
        </div>
        <div id="stock">
          <input <%=(locals.old && old.stock) ? old.stock : producto.stock == 1 ? "checked" : "" %> name="stock" type="checkbox" role="switch" id="stock">
          <label for="stock">Stock disponible</label>
          <small id="errorStock" style="color: red;"></small>
        </div>
        <div>
          <label for="description">Descripción</label>
          <textarea name="description" id="description" rows="4"><%= (locals.old && old.description) ? old.description : producto.description %></textarea>
          <small id="errorDescription" style="color: red;"></small>
        </div>
        <div>
          <small id="errorSubmit" style="color: red"></small>
        </div>
        <div>
          <button type="submit">Editar</button>
        </div>
    </form>
</div>

  <%- include('../partials/footer')  %> 
  <script src="/js/Admin/editProductValidator.js"></script>
</body>
</html>