<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") -%> 

<body>
<div class="container">

    <%- include("../partials/header") -%> 



    <!-- Seccion Detalle de Producto -->
    <section class="detalleDeProducto">
        <img src="/images/products/<%= product.productImages[0].imageName %> " alt="">
        <div>
            <h2><%= product.name %> </h2>
            <h2><%= product.price  %> </h2>
            <nav>
                <a href="#"><button>Agregar</button></a>
                <i class="fa-solid fa-cart-shopping"></i>
            </nav>
            <p><%= product.description  %> </p>
        </div>
    </section>

    <!-- Section Menu -->

    <h2 class="header_masProductos">Ver mas productos</h2>
    <%- include("../partials/menu") -%> 

    <%- include("../partials/footer") -%> 
</div>
    <%- include("../partials/scriptMenu") -%>
    <script src="/js/header.js"></script>
</body>

</html>