<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body>
        <%- include('../partials/header') %>
            <div class="addProduct">
                <legend>Editar Categoria: <%= categoria.name %>
                </legend>
                <form action="/admin/categorias/<%= categoria.id %>?_method=PUT" id="form" method="POST">
                    <div>
                        <label for="name">Nombre de la Categoria</label>
                        <input type="text" name="name" id="name" placeholder="Ej: Vegetariana" value="<%= categoria.name %>">
                        <% if (locals.errors && errors.name) { %>
                            <small id="errorBackName"><%= errors.name.msg%></small>
                        <% } %>
                        <small id="errorName" style="color: red;"></small>
                    </div>
                    <div>
                        <small id="errorSubmit" style="color: red"></small>
                    </div>
                    <div>
                        <button type="submit">Editar</button>
                    </div>
                </form>
            </div>
            <%- include('../partials/footer') %>
            <!--<script src="/js/Admin/editCategoryValidator.js"></script>-->

    </body>
</html>