<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include('../partials/header') %>

            <div class="listaProductosAdmin">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categorias.forEach(categoria=> { %>
                            <tr>
                                <th>
                                    <%- categoria.id %>
                                </th>
                                <td>
                                    <%- categoria.name %>
                                </td>
                                <td>
                                    <div>
                                        <a href="/admin/categorias/editar/<%- categoria.id %>">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </div>
                                    <form action="/admin/categorias/eliminar/<%- categoria.id %>?_method=DELETE"
                                        method="post">
                                        <button type="submit">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <%- include('../partials/footer') %>
    </body>
</html>