<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")  %> 

<body>
    <div class="container">
        <%- include("../partials/header") -%> 

        <div class="divEditPerfil">
        <section id="userProfile">
            <h1>EDITAR PERFIL</h1>
        </section>

        <form action="/users/editProfile/<%= user.id %>" id="form" method="post" enctype="multipart/form-data">
            <div class="infoProfile">
                <label for="name">Nombre</label>
                <input type="text" class="input-style" name="name" id="name" placeholder="Nombre" value="<%= user.name ? user.name : "" %>"/>
                <% if (locals.errors && errors.name) { %>
                    <span class="error-message" id="errorBackName"><%= errors.name.msg %></span>
                <% } %>
                <span id="errorName" style="color: red;"></span>

                <label for="email">Email</label>
                <input type="email"  class="input-style" id="email" name="email" placeholder="Email" value="<%= user.email ? user.email : "" %>"/>
                <% if (locals.errors && errors.email) { %>
                    <span class="error-message" id="errorBackEmail"><%= errors.email.msg %></span>
                <% } %>
                <span id="errorEmail" style="color: red;"></span>

                <label>Avatar</label>
                <img src="/images/users/<%= user.avatar %>">

                <input type="file" class="input-style" name="avatar" id="avatar" placeholder="Avatar">
                <small id="errorImage" style="color: red;"></small>

                <label for="adress">Calle</label>
                <input type="text" class="input-style" id="adress" name="adress" placeholder="Calle" value="<%= user.adress ? user.adress : null %>"/>

                <label for="adressNumber">Numero de calle</label>
                <input type="number" class="input-style" id="adressNumber" name="adressNumber" placeholder="Numero de calle" value="<%= user.adress_number ? user.adress_number : "" %>"/>

                <label for="city">Ciudad</label>
                <input type="text" class="input-style" id="city" name="city" placeholder="Ciudad" value="<%= user.city ? user.city : "" %>"/>

                <label for="phone">Numero de Telefono</label>
                <input type="number" class="input-style" id="phone" name="phone" placeholder="Numero de Telefono" value="<%= user.phone ? user.phone : null %>"/>

                <span id="errorSubmit" style="color: red;"></span>
                <button type="submit">EDITAR</button>
            </div>
        </form>
    </div>

        <%- include("../partials/footer")  %> 
    </div>
    <script src="/js/header.js"></script>
    <script src="/js/editProfileValidatorFront.js"></script>
</body>

</html>