<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")  %> 

<body>
    <div class="container">
        <%- include("../partials/header") -%> 

        <div class="divEditPerfil">
        <section id="userProfile">
            <h1>EDITAR CONTRASEÑA</h1>
        </section>

        <form action="/users/editPassword/<%= user.id %>" id="form" method="post">
            <div class="infoProfile">
                <label for="oldPassword">Contraseña Actual</label>
                <input type="password" class="input-style" name="oldPassword" id="oldPassword" placeholder="Contraseña Actual"/>
                <% if (locals.errors && errors.oldPassword) { %>
                    <span class="error-message" id="errorBackOldPassword"><%= errors.oldPassword.msg %></span>
                <% } %>
                <span id="errorOldPassword" style="color: red;"></span>

                <label for="newPassword1">Contraseña nueva</label>
                <input type="password" class="input-style" id="newPassword1" name="newPassword1" placeholder="Nueva contraseña" />
                <% if (locals.errors && errors.newPassword1) { %>
                    <span class="error-message" id="errorBackNewPassword1"><%= errors.newPassword1.msg %></span>
                <% } %>
                <span id="errorNewPassword1" style="color: red;"></span>

                <label for="newPassword2">Reingrese su Contraseña</label>
                <input type="password" class="input-style" id="newPassword2" name="newPassword2" placeholder="Reingrese su contraseña" />
                <% if (locals.errors && errors.newPassword2) { %>
                    <span class="error-message" id="errorBackNewPassword2"><%= errors.newPassword2.msg %></span>
                <% } %>
                <span id="errorNewPassword2" style="color: red;"></span>

                <span id="errorSubmit" style="color: red;"></span>
                <button type="submit">EDITAR</button>
            </div>
        </form>
    </div>

        <%- include("../partials/footer")  %> 
    </div>
    <script src="/js/header.js"></script>
    <script src="/js/editPasswordValidatorFront.js"></script>
</body>

</html>