<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")  %> 

<body>
    <div class="container">

        <%- include("../partials/header") -%> 


        <a href="#" class="a_boton"><button class="boton">Reserva Ya!</button></a>


        <section class="formularioLogin">
            <h2>Inicia Sesión</h2>
            <form action="/users/login" id="form" method="post">
                <div>
                    <input type="email" id="email" name="email" placeholder="Correo Electrónico">
                    <% if (locals.errors && errors.email) { %>
                        <span class="error-message" id="errorBackEmail"><%= errors.email.msg %></span>
                    <% } %>
                    <span id="errorEmail" style="color: red;"></span>
                </div>
                <div>
                    <input type="password" id="passwd" name="password" placeholder="Contraseña">
                    <% if (locals.errors && errors.password) { %>
                        <span class="error-message" id="errorBackPasswd"><%= errors.password.msg %></span>
                    <% } %>
                    <span id="errorPasswd" style="color: red;"></span>
                </div>
                <div>
                    <% if (locals.errors && errors.custom) { %>
                    <span class="error-message" id="errorComparacion" ><%= errors.custom.msg %></span>
                    <% } %>
                    <span id="errorSubmit" style="color: red;"></span>
                </div>
                <div id="remember">
                    <input name="remember" type="checkbox" id="remember">
                    <label for="remember">
                    Recordarme
                </label>
                </div>
                <div>
                    <button type="submit">Entrar</button>
                </div>
                <!--<span>¿No tienes una cuenta? <a href="/users/registro">Registrate</a></span>-->
            </form>
        </section>

        <%- include("../partials/footer")  %> 
    </div>
    <script src="/js/header.js"></script>
    <script src="/js/loginValidatorFront.js"></script>

</body>

</html>