<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>
        <div class="container">
            <header class="user">
                <nav class="main-nav">
                    <div class="header_menuButton">
                        <button id="hamburguer_desplegable">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </nav>
                <img id="logo" src="/images/logofinal.svg" alt="logotipo" />
                <a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <nav class="main-nav-menu">
                    <div class="header_menuClose">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <ul class="header_menu">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/#menu">Menú</a></li>
                        <li><a href="/#nosotros">Nosotros</a></li>
                        <li><a href="/#reservaTuMesa">Reservas</a></li>
                    </ul>
                </nav>
            </header>
            <a href="#" class="a_boton"><button class="boton">Reserva Ya!</button></a>

            <main class="forms-container">
                <h2>Formulario de Registro</h2>
                <hr/>

                <form class="form-register" action="/users/registro" method="post" enctype="multipart/form-data">
                    <div class="input-container">
                        <input type="text" class="input-style" name="name" placeholder="Nombre de Usuario" value="<%= (locals.old && old.name) ? old.name : "" %>"/>
                        <% if (locals.errors && errors.name) { %>
                            <span class="error-message"><%= errors.name.msg %></span>
                        <% } %>
                    </div>

                    <div class="input-container">
                        <input type="email" class="input-style" name="email" placeholder="Ingrese su Mail" value="<%= (locals.old && old.email) ? old.email : "" %>" />
                        <% if (locals.errors && errors.email) { %>
                            <span class="error-message"><%= errors.email.msg %></span>
                        <% } %>
                    </div>

                    <div class="input-container">
                        <input type="password" class="input-style" name="password" placeholder="Ingrese su clave" />
                        <% if (locals.errors && errors.password) { %>
                            <span class="error-message"><%= errors.password.msg %></span>
                        <% } %>
                    </div>

                    <div class="input-container">
                        <input type="password" class="input-style" name="password2" placeholder="Confirme su contraseña" />
                        <% if (locals.errors && errors.password2) { %>
                            <span class="error-message"><%= errors.password2.msg %></span>
                        <% } %>
                    </div>

                    <div class="input-container">
                        <input type="file" class="input-style" name="avatar" id="avatar" placeholder="Avatar">
                    </div>

                    <div class="input_check-container">
                        <nav>
                            <input name="check" type="checkbox" value="" id="activo">
                            <label for="activo">
                                Aceptos los Terminos y condiciones
                            </label>
                        </nav>
                        <% if (locals.errors && errors.check) { %>
                            <span class="error-message"><%= errors.check.msg %></span>
                        <% } %>
                    </div>
                    <div>
                        <span class="btn-container">
                            <button class="btn" type="submit">Crear Cuenta</button></span>
                    </div>
                </form>
            </main>

            <%- include("../partials/footer") %>
        </div>
        <script src="/js/header.js"></script>
    </body>

</html>